body {
	padding: 0px;
	margin: 0px; //убираю отступы
}
header {
	background: url(../images/bg.jpg) no-repeat center top / cover;
	height: 668px;
}
h1 {
	font-family: Lobster, Helvetica, serif;
	color: white;
	font-size: 72px;
}

.container {
	width: 1050px;
	margin: 0 auto;
}

.logo {
	margin-top: 40px; //отступы сверху у логотипа
	float: left;
}

.slogan {
	color: #1FAF6E;
	font-size: 20px;
	font-family: Angelus Medieva, Helvetica, serif; //добавление слогана
}

nav {
	float: right;
}

.menu {
	padding: 0px;
	margin: -90px;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 45px;

}

.menu a {
	text-decoration: none;
	color: #fff;
	font-family: Angelus Medieva, Helvetica, serif;
	font-size: 20px;
}

.title {
	text-align: center;
	margin-top: 100px;
}