body {
	padding: 0px;
	margin: 0px; //убираю отступы
}

header {
	background: url(../images/bg.jpg) no-repeat center top / cover;
	height: 668px;
}

h1 {
	font-family: Lobster, Helvetica, serif;
	color: white;
	font-size: 72px;
}

.container {
	width: 1050px;
	margin: 0 auto;
}

.logo {
	margin-top: 40px; //отступы сверху у логотипа
	float: left;
}

nav {
	float: right;
}

.menu {
	padding: 0px;
	margin-top: -180px;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 45px;

}

.menu a {
	text-decoration: none;
	color: #fff;
	font-family: Angelus Medieva, Helvetica, serif;
	font-size: 20px;
}

.slogan {
	color: #00B880;
	font-family: Angelus Medieva, Helvetica, serif; //добавление слогана
	text-align: center;
	margin-top: 50px;
}

.title {
	text-align: center;
	margin-top: 150px;
}

.button {
	display: block;
	background: #00B880;
	width: 200px;
	height: 50px;
	border-radius: 5px;
	margin-left: 425px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	padding-top: 20px;
}
